<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- views/pages/index.ejs -->
  <head>
    <meta charset="utf-8">
    <title>cos tam</title>
  </head>
  <body>
  Halko

<body>
    <form name="form1" method="POST" action="/team/add">
    <table>
        <tr>
        <td>Team name</td>
        <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>   
    <% if(userValue!=null){ %>    
        <div> Data Entered as <%= userValue.first %> </div>
    <%}%> 
</body>

</body>
</html>
